@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@theme {
    --color-brand: #0000EE;
    --color-brand-hover: #3333f1;
    --color-background: #f8fafc;
}

@layer base {
    body {
        /* @apply bg-slate-50 */
        @apply bg-background flex min-w-[320px] min-h-screen m-0
    }
    #app {
        @apply w-[900px] max-w-[900px] mx-auto my-0 px-8 py-16
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
